$color_main: rgba(63, 62, 70, 1);
$color_secondary: rgba(63, 62, 70, 0.55);
$color_wide_background: rgba(56, 55, 66, 1);
$color_purple: rgba(165, 117, 174, 1);
$color_card_background: rgba(244, 244, 244, 1);
$color_background_hover: rgba(90, 54, 97, 1);
$color_footer_headings: rgba(143, 197, 174, 1);
$color_footer_titles: rgba(143, 197, 174, 1);