@import './utils/vars.scss';
@import './components/Logo/logo.scss';

@font-face {
  font-family: 'HKGrotesk';
  src: url('/fonts/HKGrotesk-Regular.otf') format('opentype');
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'HKGrotesk', sans-serif;
}

.container {
  margin: 0 auto;
  &--cards {
    width: 1392px;
  }

  &--full {
    width: 100%;
  }

  &--regular {
    width: 1152px;
  }
}
